$roboto-font-path: "~roboto-fontface/fonts/roboto/";
@import "~materialize-css/sass/materialize.scss";

:host ::ng-deep .tabs {
	position: fixed;
	z-index: 998;
}

:host ::ng-deep .tabs,
:host ::ng-deep .tabs .tab,
:host ::ng-deep .tabs .tab a {
	@extend .grey-text, .text-lighten-4;
	background-color: #333333;
}

:host ::ng-deep .tabs .tab a:hover {
	background-color: #FFFFFF22;
}

:host ::ng-deep .tabs .tab a.active {
	background-color: #FFFFFF33;
}

:host ::ng-deep .tabs .tab a img {
	height: 16px;
	margin: 0;
	padding: 0 5px 0 0;
	filter: invert(0.95);
}
