<<<<<<< HEAD
$roboto-font-path: "~roboto-fontface/fonts/roboto/";
@import "~materialize-css/sass/materialize.scss";

:host ::ng-deep .tabs {
	position: fixed;
	z-index: 998;
}

:host ::ng-deep .tabs,
:host ::ng-deep .tabs .tab,
:host ::ng-deep .tabs .tab a {
	@extend .grey-text, .text-lighten-4;
	background-color: #333333;
}

:host ::ng-deep .tabs .tab a:hover {
	background-color: #FFFFFF22;
}

:host ::ng-deep .tabs .tab a.active {
	background-color: #FFFFFF33;
}

:host ::ng-deep .tabs .tab a img {
	height: 16px;
	margin: 0;
	padding: 0 5px 0 0;
	filter: invert(0.95);
=======
nav {
	position: fixed;
	min-width: 100vw;
	z-index: 997;
}

a.mat-tab-link {
	min-width: 0;
	padding: 0 6px;
	line-height: 2;
	vertical-align: middle;
	&:hover {
		background-color: var(--highlight);
	}
}

:host ::ng-deep .mat-icon {
	margin-right: 3px;
	svg {
		height: 16px;
		path, polygon {
			fill: inherit !important;
		}
	}
>>>>>>> c8da92906c2b44849a6c4b3c83ce1e6715699a77
}
