nav {
	position: fixed;
	min-width: 100vw;
	z-index: 997;
}

a.mat-tab-link {
	min-width: 0;
	padding: 0 6px;
	line-height: 2;
	vertical-align: middle;
	&:hover {
		background-color: var(--highlight);
	}
}

:host ::ng-deep .mat-icon {
	margin-right: 3px;
	svg {
		height: 16px;
		path, polygon {
			fill: inherit !important;
		}
	}
}
