[Desktop Entry]
Name=Emoji Keyboard
GenericName=Emoji Picker
Comment=Virtual keyboard-like emoji picker
Exec=emoji-keyboard
Terminal=false
Type=Application
Icon=face-smile
Categories=Utility
X-GNOME-Autostart-enabled=true
