<div class="container">
<div class="row">
	<span class="label">When selecting emoji...</span>
	<mat-form-field>
		<mat-select #action color="accent" [value]="prefs.settings.action">
			<mat-option *ngFor="let action of actions" [value]="action">
				{{ action.slice(0, 1).toUpperCase() + action.slice(1) }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div class="row">
	<span class="label">Automatically insert emoji as you type</span>
	<mat-slide-toggle
		#typeExpand
		color="accent"
		[checked]="prefs.settings.type_expand"
	>
	</mat-slide-toggle>
</div>
<div class="row">
	<span class="label">Use compact (icon-only) tabs</span>
	<mat-slide-toggle
		#compact
		color="accent"
		[checked]="prefs.settings.compact"
	>
	</mat-slide-toggle>
</div>
<div class="row">
	<span class="label">Emoji theme</span>
	<mat-form-field>
		<mat-select #emojiTheme color="accent" [value]="prefs.settings.emoji_theme">
			<mat-option *ngFor="let theme of emojiThemes" [value]="theme">
				{{ theme }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div class="row">
	<span class="label">Skin tone for diverse emoji</span>
	<mat-form-field>
		<mat-select #skinTone color="accent" [value]="prefs.settings.skin_tone">
			<mat-option *ngFor="let tone of skinTones" [value]="tone">
				<img [src]="join(tonePath, tone) | safeRes" alt="None">
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div class="row">
	<span class="label">Application theme</span>
	<mat-form-field>
		<mat-select #appTheme color="accent" [value]="prefs.settings.app_theme">
			<mat-option *ngFor="let theme of appThemes" [value]="theme">
				{{ theme.slice(0, 1).toUpperCase() + theme.slice(1) }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<div class="row">
	<span class="label">Panel theme</span>
	<mat-form-field>
		<mat-select #panelTheme color="accent" [value]="prefs.settings.panel_theme">
			<mat-option *ngFor="let theme of panelThemes" [value]="theme">
				{{ theme.slice(0, 1).toUpperCase() + theme.slice(1) }}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<mat-divider class="mat-divider"></mat-divider>
<div class="row">
	<span class="label">Show keyboard (palette)</span>
	<mat-form-field>
		<input #paletteHotkey matInput appHotkey [value]="prefs.hotkeys.palette" type="text">
	</mat-form-field>
</div>
<div class="row">
	<span class="label">Toggle search</span>
	<mat-form-field>
		<input #searchHotkey matInput appHotkey [value]="prefs.hotkeys.search" type="text">
	</mat-form-field>
</div>
<mat-divider class="mat-divider"></mat-divider>
<div class="row right">
	<button #cancelBtn mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
	<button #saveBtn mat-raised-button color="accent" (click)="onSave()">Save</button>
</div>
</div>
