.emoji-card {
	position: relative;
	min-width: 52px;
	width: min-content;
	height: 52px;
	margin: 4px;
	background-color: #ffffff;
	transition: transform 0.3s ease 0.05s;
	overflow: hidden;
	.emoji-icon {
		position: relative;;
		width: 48px;
		height: 48px;
		padding: 4px;
		line-height: 48px;
		font-size: 48px;
		overflow: hidden;
		&::after {
			content: attr(alt);
			font-size: 48px;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #ffffff;
			padding: 4px;
			width: 100%;
			height: 100%;
		}
	}
	.emoji-blob {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		min-height: 30%;
		height: min-content;
		overflow: hidden;
		opacity: 0;
		transition: opacity 0.3s ease 0.05s;
		padding: 2px 3px;
		.emoji-text {
			margin: 0;
			margin-bottom: 3px;
			font-size: 8px;
			line-height: 6px;
		}
		.emoji-shortname {
			margin: 0;
			font-size: 8px;
			line-height: 8px;
			overflow-wrap: break-word;
		}
	}
}

.emoji-card:hover {
	transform: scale(1.5);
	transform-origin: center;
	box-shadow: 0 0 3px 1px #333333;
	z-index: 999;
	.emoji-blob {
		opacity: 0.8;
	}
}
