.search-bar {
	background-color: var(--primary);
	color: var(--accent-lighter);
	position: fixed;
	width: 100vw;
	padding: 0 45px;
	box-sizing: border-box;
	z-index: 998;
	mat-form-field.mat-form-field {
		height: 56px;
		font-size: 16px;
		min-width: 100%;
		:host ::ng-deep & .mat-form-field-infix {
			padding: 0;
		}
	}
}
