/* You can add global styles to this file, and also import other style files */
$mdi-font-path: "~@mdi/font/fonts";
@import "~@mdi/font/scss/materialdesignicons.scss";

.loader-container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	.sk-circle-dot {
		margin: 0 6px;
	}
}

html, body {
	background-color: var(--background);
	margin: 0;
	padding: 0;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.titlebar {
	background-color: var(--primary) !important;
	color: var(--text) !important;
	.window-title {
		font-size: 14px !important;
	}
	.menubar {
		.menubar-menu-button[aria-label="Menu"] {
			@extend .mdi, .mdi-menu;
			font-size: 24px;
		}
		.menubar-menu-button[aria-label="Search"] {
			@extend .mdi, .mdi-magnify;
			font-size: 24px;
		}
		.menubar-menu-button[aria-label="Back"] {
			@extend .mdi, .mdi-chevron-left;
			font-size: 24px;
		}
		.menubar-menu-button.disabled {
			display: none;
		}
		.menubar-menu-button:hover, .menubar-menu-button:focus, .menubar-menu-button:active {
			background-color: var(--highlight) !important;
		}
		.menubar-menu-title {
			display: none;
		}
		.menubar-menu-container {
			background-color: var(--primary) !important;
			.action-item {
				background-color: var(--primary) !important;
				.action-menu-item {
					background-color: var(--primary) !important;
					color: var(--text) !important;
					font-size: 18px;
					height: 2rem;
					&:hover, &:focus, &:active {
						background-color: var(--highlight) !important;
					}
					.menu-item-check, .menu-item-icon {
						display: none;
					}
					.action-label, .keybinding {
						font-size: 14px;
					}
				}
			}
		}
	}
	.window-controls-container {
		.window-icon {
			filter: var(--image-filter);
		}
		.window-icon-bg:hover, .window-icon-bg:focus, .window-icon-bg:active {
			background-color: var(--highlight) !important;
		}
		.window-icon-bg.inactive {
			display: none;
		}
	}
}

.mat-divider {
	width: 90%;
	height: 0;
	border-top: 1px solid var(--primary-lighter);
}
