@import '~@angular/material/theming';
@include mat-core();


$default-primary: mat-palette($mat-grey, 900, 800, 700);
$default-accent: mat-palette($mat-amber, A400, 300, 800);
$default-warn: mat-palette($mat-pink, A200, A700, 200);

$light-primary: mat-palette($mat-grey, 200, 300, 50);
$light-accent: mat-palette($mat-amber, A200, A400, 200);
$light-warn: mat-palette($mat-pink, A100, A200, 100);

$default-theme: mat-light-theme($default-primary, $default-accent, $default-warn);
$dark-theme: mat-dark-theme($default-primary, $default-accent, $default-warn);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);


@include angular-material-theme($default-theme);
.theme {
	--highlight: #FFFFFF0A;
	--image-filter: invert(5%);
	* {
		outline: none;
	}
	*.active {
		outline: var(--outline);
	}
}
.theme-default {
	@include angular-material-theme($default-theme);
	--text: #{mat-color($default-primary, '900-contrast')};
	--background: #FFFFFF;
	--primary: #{mat-color($default-primary)};
	--primary-lighter: #{mat-color($default-primary, lighter)};
	--primary-darker: #{mat-color($default-primary, darker)};
	--accent: #{mat-color($default-accent)};
	--accent-lighter: #{mat-color($default-accent, lighter)};
	--accent-darker: #{mat-color($default-accent, darker)};
	--warn: #{mat-color($default-warn)};
	--warn-lighter: #{mat-color($default-warn, lighter)};
	--warn-darker: #{mat-color($default-warn, darker)};
	--outline: 1px solid #{mat-color($default-accent)};
	--sk-size: 48px;
	--sk-color: #{mat-color($default-accent)};
}
.theme-dark {
	@include angular-material-theme($dark-theme);
	--text: #{mat-color($default-primary, '900-contrast')};
	--background: #{mat-color($default-primary, lighter)};
	--primary: #{mat-color($default-primary)};
	--primary-lighter: #{mat-color($default-primary, lighter)};
	--primary-darker: #{mat-color($default-primary, darker)};
	--accent: #{mat-color($default-accent)};
	--accent-lighter: #{mat-color($default-accent, lighter)};
	--accent-darker: #{mat-color($default-accent, darker)};
	--warn: #{mat-color($default-warn)};
	--warn-lighter: #{mat-color($default-warn, lighter)};
	--warn-darker: #{mat-color($default-warn, darker)};
	--outline: 1px solid #{mat-color($default-accent, darker)};
	--sk-size: 48px;
	--sk-color: #{mat-color($default-accent)};
}
.theme-light {
	@include angular-material-theme($light-theme);
	--text: #{mat-color($default-primary, '200-contrast')};
	--background: #FFFFFF;
	--highlight: #0000000A;
	--image-filter: invert(95%);
	--primary: #{mat-color($light-primary)};
	--primary-lighter: #{mat-color($light-primary, lighter)};
	--primary-darker: #{mat-color($light-primary, darker)};
	--accent: #{mat-color($light-accent)};
	--accent-lighter: #{mat-color($light-accent, lighter)};
	--accent-darker: #{mat-color($light-accent, darker)};
	--warn: #{mat-color($light-warn)};
	--warn-lighter: #{mat-color($light-warn, lighter)};
	--warn-darker: #{mat-color($light-warn, darker)};
	--outline: 1px solid #{mat-color($light-accent)};
	--sk-size: 48px;
	--sk-color: #{mat-color($light-accent)};
}
